.header {
    z-index: 999;
    background-color: #F7F4F380;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #48B8FE;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(16px);
    box-shadow:
        0 2.8px 2.2px rgba(16, 37, 66, 0.034),
        0 6.7px 5.3px rgba(16, 37, 66, 0.048),
        0 12.5px 10px rgba(16, 37, 66, 0.06),
        0 22.3px 17.9px rgba(16, 37, 66, 0.072),
        0 41.8px 33.4px rgba(16, 37, 66, 0.086),
        0 100px 80px rgba(16, 37, 66, 0.12);
}

.header-logo {
    margin-left: 4rem;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    color: #102542;
    text-align: center;
}

.header-logo:hover {
    cursor: pointer;
    color: #48B8FE;
    transition: all 0.1s ease-in-out;
}

.right-header {
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.right-header.hide-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: #F7F4F3;
    z-index: 1000;
}

.right-header:not(.hide-menu) {
    right: 0;
}  

.header-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header-link {
    color: #102542;
}

.header-link:hover {
    cursor: pointer;
    color: #48B8FE;
    transition: all 0.1s ease-in-out;
}

.search-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: #102542;
}

.search-icon:hover {
    cursor: pointer;
    fill: #48B8FE;
    transition: all 0.1s ease-in-out;
}

#inputField {
    transition: width 0.5s ease-in-out;
    width: 0;
    opacity: 0;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.search-bar input[type="text"] {
    border: 1px solid #48B8FE;
    outline: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 0;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
}

.sign-in-button {
    background-color: #48B8FE;
    color: #F7F4F3;
    border: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 8rem;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    transition: all 0.1s ease-in-out;
    line-height: 2.5rem;
}

.sign-in-button:hover {
    cursor: pointer;
    background-color: #102542;
}

.cart-icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #102542;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    stroke-linejoin: miter;
    stroke-width: 1;
    fill: #102542;
    transition: all 0.1s ease-in-out;
}

.cart-notification {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #F7F4F300;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    stroke-linejoin: miter;
    stroke-width: 1;
    fill: #F7F4F300;
    transition: all 0.2s ease-in-out;
}

.cart:hover .cart-icon {
    stroke: #48B8FE;
    fill: #48B8FE;
}

.hamburger-menu {
    display: none; /* Hidden by default */
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #102542;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger-menu.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  
  /* Media query for smaller screens */
  @media (max-width: 700px) {
    .header {
        flex-wrap: wrap;
    }
    .hamburger-menu {
      display: block;
      margin: 0;
      padding: 0;
    }

    .right-header {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 0 0;

        margin: 0;
        width: 100%;
    }

    .header-options {
        flex-direction: column;
    }

    .headerlogo {
        margin-left: 1rem;
    }
  }