.primary-modal {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;
}

.inner-elements {
    position: relative;
    width: 80vw;
    height: 100%;
    z-index: 0;
    text-shadow: 1px 1px 3px #102542;
}

.modal-background {
    object-fit: cover;
    object-position: top left;
    border-radius: 2rem;
}

.modal-elements {
    position: absolute;
    top: 0;
    left: 0;
    color: #F7F4F3;
    font-family: 'Fira Sans', sans-serif;
    width: 40%;
    margin: 3rem 0 0 3.5rem;
}

.modal-tag {
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
}

.modal-add-text {
    font-size: 1.25rem;
    font-weight: 400;
    width: 70%;
    line-height: 1.75rem;
}

.visit-shop-button {
    margin-top: 1rem;
    width: 10rem;
    display: flex;
    z-index: 1;
}

.visit-shop-modal-border {
    padding: 1.1rem 6rem;
    border-radius: 2rem;
    border: 1px solid #E5FCFF;
    mix-blend-mode: overlay;
    z-index: 1;
    filter: drop-shadow(1px 1px 1px #102542);
}

.visit-shop-modal-border:hover {
    cursor: pointer;
    background-color: #E5FCFF;
    transition: all 0.1s ease-in-out;
}

.search-bar {
    display: flex;
    background-color: #F7F4F3;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 100%;
    z-index: 1;
    filter: drop-shadow(1px 1px 1px #102542);
}

.search-bar:hover {
    cursor: pointer;
    background-color: #48B8FE;
    transition: all 0.1s ease-in-out;
}

.search-bar:hover > .search-icon {
    fill: #102542;
    transition: all 0.1s ease-in-out;
}

.search-bar:hover > span {
    background-color: #102542;
    transition: all 0.1s ease-in-out;
}

.search-bar:hover > .search-input-field::placeholder {
    color: #102542;
    transition: all 0.1s ease-in-out;
}

.search-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: #48B8FE;
    margin-left: 0.25rem;
    margin-top: 0.1rem;
}

.search-bar span {
    display: block;
    width: 2px;
    height: 1.4rem;
    margin-left: 0.5rem;
    background-color: #ACB1BB;
    border-radius: 1px;
}

.search-input-field {
    margin-left: 0.5rem;
    width: 90%;
    background: none;
    color: #102542;
}

.search-input-field:focus {
    outline: none;
}

.search-button {
    background-color: #48B8FE;
    color: #F7F4F3;
    border: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 8rem;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    z-index: 1;
    filter: drop-shadow(1px 1px 1px #102542);
}

.search-button:hover {
    cursor: pointer;
    background-color: #102542;
    transition: all 0.1s ease-in-out;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: absolute;
    width: 80vw;
    margin-left: 0;
    bottom: -24.5rem;
    left: 0;
    overflow: hidden;
    padding: 1rem;
    z-index: 2;
    row-gap: 5rem;
    pointer-events: none;
}

.product-card-spacer {
    margin: 0 0 4% 0;
    padding: 0;
    width: 1px;
    height: 13rem;
    background: linear-gradient(transparent, white, transparent);
}