.product-card {
    width: calc(100% / 6);
    height: auto;
    color: #F7F4F3;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 0.75rem;
    bottom: 0;
    pointer-events: all;
    text-shadow: 1px 1px 3px #102542;
}

.product-card-large {
    width: calc(100% / 3.05);
    height: auto;
    color: #F7F4F3;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 0.75rem;
    background-color: #F7F4F30D;
    border: 1px solid #F7F4F3;
    border-radius: 24px;
    margin: 0;
    backdrop-filter: blur(16px);
    margin-bottom: 0.5rem;
    pointer-events: all;
    box-shadow: 1px 1px 6px #102542;
}

.product-card-large > .star-rating {
    height: 1.25rem;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.025);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-card-large:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-image {
    border-radius: 1rem;
    box-shadow: 1px 1px 3px #102542;
}

.star-rating {
    position: relative;
    gap: 0.25rem;
    text-shadow: none;
    font-size: 1em;
}

.stars-block {
    position: absolute;
    left: 2.35rem;
    overflow: hidden;
    height: 1.25em;
    max-width: 4.1em;
}

.large-stars-block {
    position: absolute;
    left: 7.25rem;
    overflow: hidden;
    height: 1.25em;
    max-width: 4.1em;
    top: -0.25rem;
}

.stars {
    overflow: hidden;
    white-space: nowrap;
    color: #48B8FE;
}

.stars-unfilled {
    position: absolute;
    color: #E5FCFF;
    left: 2.35rem;
}

.large-stars-unfilled {
    position: absolute;
    color: #E5FCFF;
    left: 7.25rem;
    top: -0.25rem;
}

.name-container {
    max-height: 3em;
    overflow: hidden;
}

.name {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines before ellipsis */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
}

.color-selector {
    height: 1.5em;
    border-radius: 6px;
}

.add-to-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 5rem;
    height: 2.25rem;
    filter: drop-shadow(1px 1px 3px #102542);
}

.add-to-cart-icon {
    height: 2em;
    width: auto;
    fill: #F7F4F3;
}

.add-to-cart-button:hover .add-to-cart-icon {
    cursor: pointer;
    fill: #48B8FE;
    transition: all 0.1s ease-in-out;
}