.product-card {
    width: calc(100% / 6);
    height: auto;
    color: #F7F4F3;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 0.75rem;
    bottom: 0;
    margin-bottom: 1rem;
}

.product-card-large {
    width: calc(100% / 3.05);
    height: 100%;
    color: #F7F4F3;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 0.75rem;
    background-color: #F7F4F380;
    border: 1px solid #F7F4F3;
    border-radius: 24px;
    margin: 0;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-card-large:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-image {
    border-radius: 1rem;
}

.star-rating {
    position: relative;
    gap: 0.25rem;
}

.star {
    position: absolute;
    color: #48B8FE;
}

.star-unfilled {
    position: absolute;
    color: #E5FCFF;
}

.name-container {
    max-height: 3em;
    overflow: hidden;
}

.name {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines before ellipsis */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
}